.App {
  height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: rgb(249, 250, 251);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ce-block__content,
.output {
  background: #f9f9f9;
  max-width: 90%;
  padding: 5px 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  margin-bottom: 3px;
  min-height: 220px;
}

.ce-toolbar__content {
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  .ce-toolbar__actions {
    padding-right: 15px;
    margin-top: 5px;
  }
}

.codex-editor__redactor {
  padding-bottom: 20px !important;
}

.ce-block__content {
  text-align: start;
}

.codeflask.codeflask--has-line-numbers:before {
  background: transparent !important;
}

.editorjs-codeFlask_Wrapper .codeflask.codeflask--has-line-numbers:before {
  background: transparent !important;
}

.editorContainer {
  width: 60%;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#editorjs {
  margin-bottom: 20px;
}

button {
  background-color: #f2bf5e;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: Inter;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}



.output {
  margin: 20px auto;
  white-space: pre-wrap;
  text-align: start;
}

.err {
  color: red;
}

.heading {
  color: #f2bf5e;
  padding: 25px 10%;
  background: rgb(9, 37, 56);
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 30px;
  font-family: poppins-extralight, poppins, sans-serif;
}

.clearBtn{
  margin-right: 12px;
  border:1px solid #f2bf5e;
  background:transparent
}