.App {
  height: 100vh;
  text-align: start;
}

.main {
  position: relative;
}

.heading {
  background: rgb(9, 37, 56);
  margin-bottom: 10px;
}

.heading h1 {
  font-family: poppins-extralight, poppins, sans-serif;
  color: #f2bf5e;
  font-weight: 500;
  font-size: 21px;
  margin: 0;
  padding: 15px 0px;
}
.cols {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: auto;
}

#editorjs,
.console,
.cm-theme-light {
  width: 100%;
}
.ce-toolbar__actions {
  padding-right: 15px;
  margin-top: 5px;
  display: none;
}

.codex-editor__redactor {
  padding-bottom: 0px !important;
}

.ce-block__content {
  text-align: start;
  max-width: 100% !important;
}

.codeflask.codeflask--has-line-numbers:before {
  background: transparent !important;
}

.editorjs-codeFlask_Wrapper,
.cm-editor {
  width: 100%;
  height: calc(100vh - 80px) !important;
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  background-color: #f0f2f5;
  margin-bottom: 10px;
}
.editorjs-codeFlask_Wrapper .codeflask.codeflask--has-line-numbers:before {
  background: transparent !important;
}
.codex-editor--narrow .codex-editor__redactor {
  margin: 0px !important;
}

.button-container {
  position: absolute;
  top: 5px;
  right: 20px;
}

button {
  background-color: #f2bf5e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: Inter;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.output {
  margin-left: 5px;
  white-space: pre-wrap;
  text-align: start;
  background: #fff;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  height: calc(100vh - 80px) !important;
}

.output .console-container {
  padding: 10px;
}

.err {
  color: red;
}

.console-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  background: rgb(9, 37, 56);
  color: #fff;
  align-items: center;
  padding: 8px 10px;
}

.console-header p {
  margin: 0;
}

.console-header span {
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}
